main{
    margin: 0;
}
ul{
    margin-left: 45%;
}
#navbar a{
    color: black;
    font-size: 20px;
    margin-left:  30px;

}
.content{
    color: white;
    padding-top: 150px;

}

.header{
    background: url(../images/banner.png) no-repeat;
    background-size: cover;
    height: 480px;
}
.header-content{
    font-size: 13px;
}
.new{
    color: yellow;
    font-weight: bold;
}
.slash{
    text-decoration: line-through;
    font-weight: bolder;
}
 .foodsection img{
    width: 200px;
    height: 200px;
}
.specialbg{
    background:url(../images/heading-bg.png) no-repeat center center;
    margin-top: 20px;
    padding: 20px;
}
.specialcontent{
    margin-left: 38%;
    font-weight: bolder;
}
.footer img{
    width: 150px;
    height: 100px;
}
.fa{
    margin-left: 10px;
}
#img{
    width: 80px;
    height: 60px;
    background-color:rgb(165, 161, 161);
}
footer{
    background-color: rgb(219, 212, 212);
    padding: 30px;
}
.footer{
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

